.jumbotron {
  padding-top: 5rem;
  background-color: #f0f8ff;
}

#title {
  display: inline-flex;
}
section {
  padding-top: 5rem;
}

@font-face {
  font-family: "La Belle Aurore";
  src: url("../fonts/LaBelleAurore.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neu.ttf") format("ttf");
}
